.content{
    background-color: #313958;
    margin-top: 120px;
}

.middle_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text_content_left h2{
    font-weight: bold;
}
.text_content_left > a{
    background-color: #f3c93e;
    color: white;
    height: 50px;
    width: 160px;
    border: 1px solid #f3c93e;
    margin-top:15px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.5s;
    cursor: pointer;
}

.text_content_left {
    width: 550px;
    margin-left: 200px;
    color: #fff;
    padding: 10px;
}

.middle_content2 .img_content img {
    width: 100%;
    margin-right: -15px;
}

.read_more:hover{
    border: 1px solid #f3c93e;
    background-color: transparent;
    color: #f3c93e;
}
